.contactForm .inputForm{
    border-color: black;
    border-radius: 0;
}



.fs-13 {
    font-size: 13px;
}

.m-header {
    height: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.contactForm .req:invalid {
    box-shadow: 0 0 1px 1px red;
}
.contactForm .req:valid {
    box-shadow: 0 0 1px 1px green;
}

